/* Reset rules */
.be-cleared:after {
	display: table;
	content: " ";
	clear: both;
}
.display-block {
	width: 100% !important;
	display: block !important;
}

.reset-border-radius {
	border-radius: 0 !important;
}
.reset-border {
	border: 0 !important;
}
.reset-padding {
	padding: 0 !important;
}
.reset-box-shadow {
	-webkit-box-shadow: 0 0 0 !important;
    box-shadow: 0 0 0 !important;
}
select.reset-select {
	-webkit-appearance: none;
	-moz-appearance: none;
}
.overflow-hidden {
	overflow: hidden !important;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
/* Removes annoying bootstrap hover effect */
li.hover,
li:hover,
li:focus,
li.focus,
li:active,
a.hover,
a:hover,
a:focus,
a.focus,
a:active {
	background-color: transparent !important;
}
::-webkit-input-placeholder {
   color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff !important;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important;
}

:-ms-input-placeholder {  
   color: #fff !important;
}

/* Custom rules */
.ip-light-color {
	background-color: #64b5d0 !important;
}
.ip-light-color a:hover {
	background-color: transparent !important;
	background-image: url('') !important;
}
select.ip-select {
	/* TO DO: add custom arrow*/
}
.ip-button {
	color: #fff !important;
	/*text-transform: uppercase;*/
	font-weight: 900 !important;
}
.primary-ip-button {
	background-color: #f6d540 !important;
}
.primary-ip-button:hover,
.primary-ip-button:focus,
.primary-ip-button.focus,
.primary-ip-button:active {
	background-color: #fbb141 !important;
}
.secondary-ip-button {
	background-color: #1572b3 !important;
}
.secondary-ip-button:hover,
.secondary-ip-button:focus,
.secondary-ip-button.focus,
.secondary-ip-button:active {
	background-color: #404f9c !important;	
}
.ip-list-group-item.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.ip-list-group-item.list-group-item:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.ip-navbar {
	border-top: 0 !important;
	border-right: 0 !important;
	border-left: 0 !important;
	background-color: #64b5d0 !important;
	border-color: #40509d !important;
	border-radius: 0 !important;
}
select.ip-input {
	cursor: pointer;
}
select.ip-input,
input.ip-input {
	background-color: #f6d540 !important;
}
select.ip-input option {
	padding: 10px 0 !important;
}
.ip-panel {
	border-color: #40509c !important;
}
.ip-panel > .panel-heading {
    color: #fff !important;
    background-color: #2196bc !important;
    border-color: #40509c !important;
}
.ip-list-group-item-companies {
	border-color: #40509c !important;
	border-right: 0 !important;
	border-left: 0 !important;
}
.modal-body {
	position: relative;
	padding: 0 !important;
}
#calcRoute {
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 10;
	border: 1px solid #40509c !important;
}
.modal-dialog {
	margin-bottom: 0 !important;
}
.company-image {
	float: right !important;
    margin: 0 0 10px 10px !important;
    border-style: solid;
    border-color: #40509c !important;
    border-radius: 6px;
    width: 50% !important;
    height: auto !important;
}
.ip-color {
	color: #2196bc !important;
}
.ip-title-color {
	color: #40509c !important;
}
textarea {
	border-color: #40509c !important;
	color: #2196bc !important;
}
.ip-dropdown-menu {
	padding: 21px 20px !important;
	font-size: 14px;
	color: #fff;
}
.ip-wysiwyg {
	padding: 0 30px !important;
}

/* Custom paddings, margins */
.ptb14 {
	padding-top: 14px;
	padding-bottom: 14px;
}
.ptb20 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
.m0 {
	margin: 0 !important;
}
.lh32 {
	line-height: 32px !important;
}
.lh29 {
	line-height: 29px !important;
}